{% extends 'base.html' %}

{% block content %}

<h1>Vets</h1>

<ul>
  {% for vet in vets %}
    <li>
      <h2>{{ vet.name }}</h2>
      <p>Total earnings: £{{ vet.earnings }}</p>
      <p>
        {% for pets in all_pets %}
          {% for pet in pets %}
            {% if pet.vet == vet.id %}
              {{pet.name}}
            {% endif %}   
          {% endfor %}
        {% endfor %}
      </p>
      <p>
        <form action="/vets/{{ vet.id }}/delete" method="POST">
          <input type="submit" value="Remove vet from roster" />
        </form>
      </p>
    </li>
  {% endfor %}
</ul>

<form action="/vets" method="POST">
    <label for='name'>To add a new vet, please enter name below and click 'Add':</label><br>
    <input type="text" id="name" name="name"><br><br>
    <input type="submit" value="Add">
</form>

{% endblock content %}
